header.header
    a.nav-open
        img(src="assets/images/burger.svg", alt="").nav-open__img
    include menu.pug
    .container
        .header-block
            .header-block__title Отдел продаж
            .header-block__link Санкт-Петербург, Парадная ул., 4
        .header-logo
            img.header-logo__img(src="assets/images/logo.svg")
        .header-block
            .header-block__title Контактный телефон
            a.header-block__link(href="tel:+78126703040") +7 (812) 670-30-40