.preloader
    .preloader-img
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate;transform:scale(2);" viewBox="0 0 56 32" width="56" height="32">
            <defs>
                <clipPath id="_clipPath_U4O9SiQbi1HbdQ6ckwp8lw6I0qqg5Se4"><rect width="56" height="32"/></clipPath>
            </defs>
            <g clip-path="url(#_clipPath_U4O9SiQbi1HbdQ6ckwp8lw6I0qqg5Se4)">
                <g id="Group">
                    <path class="yolka yolka_1" d=" M 14.246 31.4 L 14.246 29.545 L 17.361 30.366 L 13.678 19.416 L 10 30.366 L 13.11 29.545 L 13.11 31.4 L 14.246 31.4 L 14.246 31.4 Z " fill="rgb(122,146,85)"/>
                    <path class="yolka yolka_2" d=" M 28.637 31.4 L 28.637 29.415 L 32.229 30.365 L 27.978 17.724 L 23.731 30.366 L 27.32 29.416 L 27.32 31.4 L 28.637 31.4 L 28.637 31.4 Z " fill="rgb(122,146,85)"/>
                    <path class="yolka yolka_3" d=" M 42.846 31.4 L 42.846 29.548 L 45.961 30.366 L 42.278 19.416 L 38.6 30.366 L 41.71 29.545 L 41.71 31.4 L 42.846 31.4 L 42.846 31.4 Z " fill="rgb(122,146,85)"/>
                    <path d=" M 5 31.4 L 5 32 L 51 32 L 51 31.4 L 5 31.4 L 5 31.4 Z " fill="rgb(122,146,85)"/>
                </g>
            </g>
        </svg>

header.header
    a.nav-open
        img(src="assets/images/burger.svg", alt="").nav-open__img
    include menu.pug
    .container
        .header-block
            .header-block__title Отдел продаж
            .header-block__link Санкт-Петербург, Парадная ул., 4
        .header-logo
            img.header-logo__img(src="assets/images/logo.svg")
        .header-block
            .header-block__title Контактный телефон
            a.header-block__link(href="tel:+78126703040") +7 (812) 670-30-40