html{
    font-family: 'AvenirNext-regular';
    @include notebook{
        font-size: 14px;
    }
    @include laptop{
        font-size: 13px;
    }
    @include tablets{
        font-size: 9px;
    }
    @include phones{
        font-size: 7px;
    }
}
.controls{
    position: relative;
    top: -13px;
    display: flex;
    justify-content: center; 
    &-item{
        display: block;
        content: "";
        height:5px;
        width: 50px;
        background: #000;
        margin-right: 10px;
        position: relative;
        opacity: 0;
        &:last-child{
            margin-right:0;
        }
        &--active{
            // opacity:1;
        }
        & span{
            font-size: 12px;
            background: #E9E9E9;
            position: absolute;
            top:-30px;
            left:50%;
            transform: translateX(-50%);
            color:#545454;
            font-family: 'AvenirNext-regular';
            text-transform: uppercase;
            white-space: nowrap;
            padding: 5px 10px;
            border-radius: 10px;
            transition: all .3s;
        }
        &:hover{
            opacity: 1;
            & span{
                display: block;
            }
        }
        & span{
            display: none;
        }
    }
}
body{
    background: url(../../assets/images/background2.jpg) center center no-repeat;
    background-size: cover; 
}
.nav{
    height: 100%;
    min-height: 100vh;
    position: fixed;
    left: -1000px;
    width: 100%;
    max-width: 350px;
    background: #fff;
    z-index: 10;
    transition: all .3s;
    &--active{
        left:0;
    }
    &-open{
        position:absolute;
        left: 20px;
        top: 30px;
        color:#D7D7D7;
        transition: all .3s;
        font-size: 30px;
        display: inline-block;
        &__img{
            @include laptop{
                width: 20px;
            } 
        }
        &:hover{
            color:#4A90E2;
        }
    }
    &-close{
        color:#D7D7D7;
        transition: all .3s;
        font-size: 30px;
        padding:30px 0 10px 20px; 
        display: inline-block;
        &:hover{
            color:#4A90E2;
        }
    }
    &-main{
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
        @include tablets{
            margin-bottom: 5px;
        }
        &-item{
            flex: 0 1 100%;
            font-family: 'AvenirNext-regular';
            font-size: 16px;
            color:#919191;
            line-height: 47px;
            padding-left: 20px; 
            border-left:3px solid transparent; 
            transition: all .3s;
            @include notebook{
                line-height: 32px;
                font-size: 15px;

            }
            @include laptop{
                line-height: 30px;
            }
            &--active{
                color:#696969;
                border-left:3px solid #4A90E2;
            }
            &:hover{
                color:#696969;
                border-left:3px solid #4A90E2;
            }
        }
    }
    &-footer{
        padding-left: 20px;
        &-top{
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            &__link{
                font-family: 'AvenirNext-Regular';
                font-size: 14px;
                color:#569FF4;
                margin-bottom: 10px;
                & span{
                    font-family: 'AvenirNext-bold';
                }
            }
        }
        &-bot{
            display: flex;
            align-items: center;
            &__text{
                opacity: 0.4;
                font-family: 'AvenirNext-Regular';
                font-size: 12px;
                color: #545454;
                line-height: 12px;
                margin-right: 15px;
            }
        }
    }
}
.screen{
    height: calc(100vh - 184px);
    &__title{
        font-size: 36px;
        font-family: 'AvenirNext-Bold';
        color: #4A4A4A;
        text-align: center;
        margin-bottom: 30px;
    }
}
.screen1{
    & .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: url(../images/screen1-bg.jpg) center center no-repeat;
        background-size: cover; 
        height: 100%;
    }
    &__title{
        font-family: 'Acrom-bold';
        font-size: 48px;
        color:#fff;
        text-align: center;
        margin-bottom: 15px;
    }
    &__button{
        border: 1px solid #fff;
        padding: 3px;
        display: inline-block;
        &:hover{
            & span{
                background: #FDC765;
            }
        }
       & span{
           background: #F7D9A2;
           color:#94753C;
           font-size: 14px;
           font-family: 'AvenirNext-Regular';
           padding: 15px 20px;
           display: inline-block;
           transition: all .3s;
       } 
    }
}
.screen2{
    & .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title{
        font-family: 'AvenirNext-bold';
        font-size: 36px;
        color: #4A4A4A;    
        text-align: center;
    }
    &__text{
        text-align: center;
        color: #4A4A4A;
        font-size: 14px;
        font-family: 'AvenirNext-regular';
        max-width: 730px;
        margin: 0 auto;
        & span{
            font-family: 'AvenirNext-bold';
        }

    }
    &-main{
        height: calc(100% - 91px);
        &-slide{
            // background: url('../../assets/images/screen2img.jpg') center center no-repeat;
            max-width: 100%;
            height: calc(100vh - (91px + 184px));
            width: 100%;
            box-shadow: 0 22px 25px 0 rgba(45,45,45,0.13); 
            &__img{
                height: 100%;
                background-size:cover!important; 
            }
        }
        &-arr{
            &__left{
                position: absolute;
                top:calc(50% - 10px);
                left: -40px;
                font-size: 25px;
                color:#D7D7D7;
                transition: all .3s;
                &:hover{
                    left:-45px;
                    color:#282828;
                }
            }
            &__right{
                position: absolute;
                top:calc(50% - 10px);
                font-size: 25px;
                right: -40px;
                color:#D7D7D7;
                transition: all .3s;
                &:hover{
                    right:-45px;
                    color:#282828;
                }
            }
        }
    }
}
.screen3{
    &-main{
        height: calc(100% - 91px);
        &-item{
            background-size:cover!important; 
            height: calc(100vh - (91px + 184px));
            max-height: 100%;
            position: relative;
            &-desc{
                &-bg{
                    position: absolute;
                    bottom:0;
                    z-index: -1;
                    left: 0;
                }
                box-shadow: 0 22px 24px 0 rgba(45,45,45,0.13);
                box-sizing: border-box;
                padding:60px 40px 35px;
                position:absolute;
                width: 350px;
                height: 90%;
                right: 0;
                top:50%;
                transform: translateY(-50%);
                background: #fff;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &__index{
                    background: #F7D9A2;
                    font-family: 'AvenirNext-bold';
                    font-size: 14px;
                    color: #B2A07F;
                    position: absolute;
                    top: 0;
                    padding: 10px 8px 5px;
                    overflow: hidden;
                }
                &__title{
                    font-size: 20px;
                    color: #4A4A4A;
                    font-family: 'AvenirNext-bold';
                    padding-bottom: 5px;
                }
                &__text{
                    opacity: 0.7;
                    font-family: 'AvenirNext-Regular';
                    font-size: 14px;
                    color: #4A4A4A;
                    line-height: 22px;
                }
                &-arrows{
                    display: flex;
                    bottom:35px;
                    &-arr{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 38px;
                        width: 38px;
                        color:#C5AE85;
                        border: 1px solid #C5AE85;
                        transition: all .3s;
                        cursor: pointer;
                        &:hover{
                            background: #C5AE85;
                            color:#fff;
                        }
                    }
                }
                &__but{
                    background: #FFFFFF;
                    border: 1px solid #629B61;
                    color:#629B61;
                    padding: 10px 20px;
                    font-family: 'AvenirNext-Regular';
                    font-size: 14px;
                    transition: all .3s;
                    &:hover{
                        background: #629B61;
                        color:#fff;
                    }
                }
            }
        }
    }
}
.screen4{
    &  .screen3-main-item-desc{
        left: -20px;
        right: initial;
    }
    & .screen3-main-item-map{
        position: absolute;
        width: 100%;
        height:100%;
        top: 0;
        left: 0;
    }
}
#screen5-infra-map{
    width:100%;
    height:100%;
}
.screen5{
    &-top{
        border-top: 1px solid #B0B0B0;
        &-list{
            display: flex;
            justify-content: center;
            & a{
                padding-top: 15px; 
                font-family: AvenirNext-Regular;
                font-size: 14px;
                color: #B0B0B0;
                margin: 0 15px;
                border-top: 2px solid transparent; 
                transition: all .3s;
                &:hover{
                    font-family: AvenirNext-Regular;
                    font-size: 14px;
                    color: #6096B2!important;
                    border-top:2px solid #6096B2;
                }
            }
            &__item--active{
                font-family: AvenirNext-Regular;
                font-size: 14px;
                color: #6096B2!important;
                border-top:2px solid #6096B2!important;
            }
        }
    }
    &-main{
        height: calc(100% - 96px);
        &-list{
            height: calc(100% - 34px);
            box-sizing: border-box;
            padding-top: 20px;
            &-item{
                &-container{
                    max-width: 800px;
                    width: 100%;
                    margin: 0 auto;
                }
                height: 100%;
                // background: url('../../assets/images/screen5-bg.jpg') center center no-repeat;
                content: '';
            }
        }
    }
}
.screen6{
    &-main{
        height: calc(100% - 96px);
        &-item{
            max-height: 100%;
            height: calc(100vh - (91px + 184px));
            display: flex;
            background: #fff;
            &-left{
                height: calc(100vh - (91px + 184px));
                background-size: cover!important;
                content: '';
                flex: 0 1 40%;
            }
            &-right{
                flex: 0 1 60%;
                position: relative;
                box-sizing: border-box;
                padding: 40px;
                &__index{
                    background: #F7D9A2;
                    font-size: 14px;
                    color: #fff;
                    position: absolute;
                    top: 0;
                    padding: 10px 5px;
                    overflow: hidden;
                }
                &-top{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &__title{
                        font-family: 'AvenirNext-bold';
                        font-size: 20px;
                        color: #4A4A4A;
                    }
                    &__sos{
                        color: #436EAB;
                        height: 38px;
                        width: 38px;
                        border: 1px solid #436EAB;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all .3s;
                        &:hover{
                            background: #436EAB;
                            color: #fff;
                        }

                    }
                    &-arrows{
                        display: flex;
                    }
                }
                &__text{
                    margin: 20px 0 35px;
                    opacity: 0.7;
                    font-family: AvenirNext-Regular;
                    font-size: 14px;
                    color: #4A4A4A;
                    line-height: 22px;
                }
            }
        }
    }
}
.screen7{
    & .screen6-main-item-right-top__sos{
        width: initial;
        padding: 0 10px;
        margin-right: 20px;
        & span{
            font-family: 'AvenirNext-Regular';
            font-size: 14px;
        }
        & i{
            padding-right: 10px 
        }
    }
    &-main-item-right__dol{
        font-family: 'AvenirNext-Medium';
        font-size: 16px;
        color: #4A4A4A;
        margin-top: 30px;
    }
    &-main-item-top-block{
        display: flex;
    }
    & .screen6-main-item-right__text{
        font-family: 'AvenirNext-Italic';
    }
    &-main{
        &-item{
            &-right{
                &-footer{
                    &__link{
                        margin-right: 30px;
                        & i{
                            margin-right: 10px;
                        }
                        opacity: 0.8;
                        font-family: 'AvenirNext-Medium';
                        font-size: 16px;
                        color: #4A4A4A;
                    }
                }
                &-postfooter{
                    margin-top: 30px;
                    &__but{
                        display: inline-block;
                        background: #FFFFFF;
                        border: 1px solid #629B61;
                        color:#629B61;
                        padding: 10px 20px;
                        font-family: 'AvenirNext-Regular';
                        font-size: 14px;
                        transition: all .3s;
                        &:hover{
                            background: #629B61;
                            color:#fff;
                        }
                    }
                }
            }
        }
    }
}
.screen8{
    & .screen3-main-item-desc{
        left:0;
        right:initial;
    }
    & .screen6-main-item-right-top__sos{
        display: flex;
        align-items: center;
        width: initial;
        padding: 0 10px;
        margin-right: 20px;
        & span{
            font-family: 'AvenirNext-Regular';
            font-size: 14px;
        }
        & i{
            padding-right: 10px 
        }
    }
    &-main{
        &-item{
            &-desc{
                &-block{
                    &__title{
                        font-family: 'AvenirNext-Bold';
                        font-size: 16px;
                        color: #4A4A4A;
                    }
                    &__text{
                        opacity: 0.7;
                        font-family: 'AvenirNext-Regular';
                        font-size: 14px;
                        color: #4A4A4A;
                        line-height: 22px;
                        & span{
                            font-size:11px;
                            color:#9C9C9C;
                        }
                    }
                }
            }
        }
    }
}
.screen9{
    &-main{
        height: calc(100% - 96px);
        &-list{
            height: calc(100% - 34px);
            box-sizing: border-box;
            padding-top: 20px;
            &-item{
                height: 100%;
                overflow-x: hidden;
                overflow-y: scroll;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                &-flat{
                    &:last-child{
                        @include tablets{
                            display: none;
                        }
                    }
                    box-shadow: 0 22px 24px 0 rgba(45,45,45,0.13);
                    height: 280px;
                    background:#fff;
                    margin: 0 15px 40px;
                    min-width: 140px;
                    flex: 0 1 140px;
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                    padding: 30px 20px 15px;
                    justify-content: space-between;
                    transition: all .3s;
                    cursor: pointer;
                    position: relative;
                    &--sale{
                        &:before{
                            width: 73px;
                            height: 23px;
                            background: url('../../assets/images/flat-sale.svg') center center no-repeat;
                            background-size: cover;
                            content: '';
                            position: absolute;
                            left: 0;
                        }
                    }
                    &--hit{
                        &:before{
                            width: 53px;
                            height: 23px;
                            background: url('../../assets/images/flat-hit.svg') center center no-repeat;
                            background-size: cover;
                            content: '';
                            position: absolute;
                            left: 0;
                        }
                    }
                    &:hover{
                        transform: scale(1.2);
                    }
                    &__img{
                        margin: 0 auto;
                        max-width:70px; 
                    }
                    &-desc{
                        &-block{
                            font-family: 'AvenirNext-Regular';
                            margin-bottom: 10px;
                            &__title{
                                font-size: 13px;
                            }
                            &__text{
                                text-transform: uppercase;
                                font-size: 10px;
                                color:#000000;
                                opacity: .4;
                            }
                        }
                    }
                    &__price{
                        font-family: 'AvenirNext-Bold';
                        font-size: 13px;  
                    }
                }
            }
        }
    }
}
.screen10{
    &-main{
        display: flex;
        height: calc(100% - 96px);
        &-left{
            position: relative;
            padding: 60px 30px;
            width: 40%;
            background: #fff;
            &-bg{
                z-index: 0;
                height:70%;
            }
            &-index{
                background: #F7D9A2;
                position: absolute;
                top: 0;
                padding: 10px 8px 5px;
                overflow: hidden;
                &__img{
                    
                }
            }
            &__title{
                font-family: 'AvenirNext-bold';
                font-size: 20px;
                color: #4A4A4A;
                margin-bottom:30px; 
            }
            &__text{
                opacity: 0.7;
                font-family: 'AvenirNext-Regular';
                font-size: 14px;
                color: #4A4A4A;
                line-height: 22px;
            }
            box-shadow: 0 22px 24px 0 rgba(45,45,45,0.13);
        }
        &-right{
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            padding-left:40px; 
            width: 60%;
            &__img{
                width: 45%;
                height: 180px;
                margin-right:3%;
                margin-bottom: 35px;
                position: relative;
                &:hover .screen10-main-right__img--plus{
                    transform: scale(1);
                }
                &--plus{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top:0;
                    left:0;
                    color:#fff;
                    background: rgba(#282828,.4);
                    font-size: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius:5px;
                    transform: scale(0); 
                    transition: all .3s;
                }  
                & img{
                    width:100%;
                    height: 100%;
                } 
            }
        }
    }
}
.screen11{
    &-main{
        height: calc(100% - 96px);
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        &-item{
            flex: 0 1 33%;
            &--item1{
                flex: 0 1 19%;
            }
            &--item2{
                flex: 0 1 46%;
            }
            &--item3{
                flex: 0 1 33%;
            }
            &--item4{
                flex: 0 1 65%;
            }
            &--item6{
                flex: 0 1 200px;
            }
            &-top{
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                &__img{
                    margin-right:20px; 
                    height: 30px;
                }
                &__text{
                    font-family: 'AvenirNext-bold';
                    font-size: 24px;
                    color: #282828;
                }
            }
            &__text{
                opacity: 0.8;
                font-family: 'AvenirNext-Medium';
                font-size: 16px;
                color: #282828;
                line-height: 22px;
            }
        }
    }
}
.screen12{
    &-main{
        height: calc(100% - 96px);
        padding: 0 125px 0;
        box-sizing: border-box;
        &-top{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &-left{
                &-link{
                    display: inline-block;
                    margin-right: 15px;
                    padding: 10px 20px;
                    background: #FFFFFF;
                    border: 1px solid #C0A066;
                    font-family: 'AvenirNext-Regular';
                    font-size: 14px;
                    color: #A68F65;
                    transition: all .3s;
                    & i {
                        margin-right: 15px
                    }
                    &:hover{
                        background: #C0A066;
                        color:#fff;
                    }
                    &--active{
                        background: #C0A066;
                        color:#fff;
                    }
                }
            }
            &-right{
                &-link{
                    display: block;
                    padding: 10px 20px;
                    background: #FFFFFF;
                    border: 1px solid #629B61;
                    font-family: 'AvenirNext-Regular';
                    font-size: 14px;
                    color: #629B61;
                    transition: all .3s;
                    &:hover{
                        background: #629B61;
                        color:#fff;
                    }
                }
            }
        }
        &-tabs{
            &-top{
                margin:20px 0 30px; 
                border-top: 1px solid #F1E5D0;
                display: flex;
                justify-content: center;
                &__link{
                    font-family: AvenirNext-Regular;
                    font-size: 14px;
                    color: #B0B0B0;
                    border-top:2px solid transparent;
                    padding-top: 15px;
                    margin: 0 13px; 
                    transition: all .3s; 
                    &:hover{
                        border-top: 2px solid #A68F65; 
                        color: #A68F65;
                    }
                    &--active{
                        border-top: 2px solid #A68F65; 
                        color: #A68F65;
                    }
                }
            }
            &-main{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                &-item{
                    width: 175px;
                    height: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 20px;
                    cursor: pointer;
                    position:relative;
                    &:hover{
                        & .screen10-main-right__img--plus{
                            transform: scale(1);
                        }
                    }
                    &__desc{
                        font-family: 'AvenirNext-Regular';
                        font-size: 14px;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}
.screen13{
    &-main{
        height: calc(100% - 96px);
        &-top{
            display:flex;
            flex-wrap: wrap;
        }
        &-item{
            flex: 0 1 50%;
            box-sizing: border-box;
            padding-left: 50px; 
            position: relative;
            &-top{
                margin-bottom: 25px;
                &__img{
                    position: absolute;
                    left: 10px;
                }
                &__text{
                    font-family: 'AvenirNext-bold';
                    font-size: 18px;
                    color: #282828;
                    line-height: 28px;
                }
            }
            &__text{
                opacity: 0.8;
                font-family: 'AvenirNext-medium';
                font-size: 14px;
                color: #282828;
                line-height: 22px;
            }
        }
        &-footer{
            margin-top: 60px;
            background: #FFFFFF;
            box-shadow: 0 22px 24px 0 rgba(45,45,45,0.13);
            height: 115px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            &-left{
                &__title{
                    font-family: 'AvenirNext-bold';
                    font-size: 20px;
                    color: #4A4A4A;
                    margin-bottom:10px; 
                }
                &__text{
                    font-family: 'AvenirNext-Regular';
                    font-size: 14px;
                    color: #4A4A4A;
                    line-height: 22px;
                }
            }
            &-right{
                &__link{
                    display: inline-block; 
                    padding: 10px 20px;
                    background: #FFFFFF;
                    border: 1px solid #629B61;
                    font-family: 'AvenirNext-Regular';
                    font-size: 14px;
                    color: #629B61;
                    transition: all .3s;
                    &:hover{
                        background: #629B61;
                        color:#fff;
                    }
                }
            }
        }
    }
}
.screen14{
    &-main{
        height: calc(100% - 96px);
        // display: flex;
        // justify-content: space-around;
        &-arr{
            &__left{
                position: absolute;
                top:calc(50% - 10px);
                left: -20px;
                font-size: 25px;
                color:#D7D7D7;
                transition: all .3s;
                &:hover{
                    left:-25px;
                    color:#282828;
                }
            }
            &__right{
                position: absolute;
                top:calc(50% - 10px);
                font-size: 25px;
                right: -20px;
                color:#D7D7D7;
                transition: all .3s;
                &:hover{
                    right:-25px;
                    color:#282828;
                }
            }
        }
        &-item{
            height: fit-content;
            padding: 15px;
            box-sizing: border-box;
            flex: 0 1 230px;
            background: #FFFFFF;
            box-shadow: 0 22px 24px 0 rgba(45,45,45,0.13);
            cursor: pointer;
            transition: all .3s;
            margin: 0 20px;
            &:hover{
                transform: scale(1.1);
            }
            &__img{
                max-width: 100%;
                margin-bottom:20px;
            }
            &__date{
                font-family: 'AvenirNext-Regular';
                font-size: 12px;
                color: #8B8B8B;
                margin-bottom:15px;
                
            }
            &__title{
                font-family: 'AvenirNext-Bold';
                font-size: 16px;
                color: #404040;
                margin-bottom:10px;
            }
            &__text{
                font-family: 'AvenirNext-Regular';
                font-size: 14px;
                color: #404040;
            }
        }
    }
}
.popup{
    width: 440px;
    background: #fff;
    padding: 60px 25px 40px;
    overflow: hidden;
    &__title{
        color: #4A4A4A;
        font-size: 20px;
        font-family: 'AvenirNext-bold';
        margin-bottom: 25px;
    }
    &__close{
        position: absolute;
        right:10px;
        top: 10px;
        color: #282828;
        opacity: .7;
        transition: all .3s;
        &:hover{
            opacity: 1;
            transform: rotate(180deg);
        }
    }
    &-form{
        display: flex;
        flex-wrap: wrap;
        &-item{
            flex: 0 1 220px;
            margin-bottom: 20px;
            &--maxwidth{
                flex:0 1 100%;
            }
            &__label{
                opacity: 0.7;
                font-family: 'AvenirNext-Regular';
                font-size: 12px;
                color: #4A4A4A;
                line-height: 22px;
                display: block;
            }
            &__input{
                font-family: 'AvenirNext-Regular';
                font-size: 12px;
                color: #4A4A4A;
                padding: 11px 0 11px 13px;
                border: none;
                border: 1px solid #DDDDDD;
                width: 100%;
                box-sizing: border-box;
                &--first{
                    width: 95%;
                }
                &:focus{
                    border: 1px solid #7FC2FF;
                }
                &::-webkit-input-placeholder {
                    opacity: .5;
                  }
                  &::-moz-placeholder          {
                    opacity: .5;
              
                  }
                  &:-moz-placeholder           {
                    opacity: .5;
                  }
                  &:-ms-input-placeholder      {
                    opacity: .5;
                  }
            }
            &__checkbox{
                &--label{
                    font-family: 'AvenirNext-Regular';
                    font-size: 12px;
                    color: #4A4A4A;
                    &:hover{
                        color:#7FC2FF;
                    }
                }
            }
        }
        &-but{
            flex:0 1 100%;
            &__input{
                background: #649D63;
                border: 1px solid #629B61;
                font-family: 'AvenirNext-Regular';
                font-size: 14px;
                color: #FFFFFF;
                cursor: pointer;
                width: 100%;
                padding: 10px 0;
                transition: all .3s;
                &:hover{
                    background: #40663F; 
                }
            }
        }
        
    }
}
.popup2{
    min-width: 1000px;
    background: #fff;
    &-left{
        float: left;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 5%;
        &__img{
            max-width: 100%
        }
    }
    &-right{
        float: left;
        width: 50%;
        padding-top:5%; 
        padding-right:5%;
        box-sizing: border-box;
        &__title{
            font-family: 'AvenirNext-bold';
            font-size: 20px;
            color: #4A4A4A;
            margin-bottom: 30px;
        }
        &-top{
            display:flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 30px;
            &-item{
                &__title{
                    font-family: 'AvenirNext-bold';
                    font-size: 20px;
                    color: #4A4A4A;
                    line-height: 25px;
                }
                &__title1{
                    opacity: 0.5;
                    font-family: 'AvenirNext-Medium';
                    font-size: 12px;
                    color: #4A4A4A;
                    text-transform: uppercase;
                }
            }
        }
        &__text{
            opacity: 0.7;
            font-family: 'AvenirNext-Regular';
            font-size: 14px;
            color: #4A4A4A;
            line-height: 22px;
            margin-bottom: 35px;
        }
        &-footer{
            &__link{
                font-family: 'AvenirNext-Regular';
                font-size: 14px;
            }
            &-top{
                display: flex;
                justify-content: space-between;
                margin-bottom: 25px;
                &__link{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 0 1 45%;
                    color:#6096B2;
                    border: 1px solid #6096B2;
                    height: 40px;
                    transition: all .3s;
                    &:hover{
                        color:#fff;
                        background: #6096B2;
                    }
                }
                &__link1{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 0 1 45%;
                    color:#BE4F46;
                    border: 1px solid #BE4F46;
                    & i{
                        margin-right: 10px;
                        font-size: 20px;
                    }
                    height: 40px;
                    transition: all .3s;
                    &:hover{
                        color:#fff;
                        background: #BE4F46;
                    }
                }
            }
            &-bot{
                &__link{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 0 1 100%;
                    color:#629B61;
                    border: 1px solid #629B61;
                    height: 40px;
                    transition: all .3s;
                    &:hover{
                        color:#fff;
                        background: #629B61;
                    }
                }
            }
        }
    }
}
.popup3{
    max-width: 500px;
    padding: 20px;
    background: #fff;
    &-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        & .popup__title{
            margin-bottom: 0;
        }
        &-item{
            &__title{
                font-family: 'AvenirNext-regular';
                font-size: 11px;
                color:#4A4A4A;
            }
            &__title1{
                font-family: 'AvenirNext-bold';
                font-size: 20px;
                color:#4A4A4A;
            }
        }
    }
    &-form{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
    }
}
.popup-form-item__input--popup3{
    padding-right: 30px;
    box-sizing: border-box;

}
.popup-form-item--popup3{
    flex: 0 1 30%;
    position: relative;
    & span{
        position: absolute;
        right: 10px;
        top:33px;
        color:#4A4A4A;
        opacity: .4;
    }
}
.popup-form-item__input--popup3{
    
}
.screen16{
    &-main{
        display:flex;
        flex-wrap: wrap;
        &-block{
            flex: 0 1 50%;
        }
        &-item{
            font-family: 'AvenirNext-medium';
            font-size: 20px;
            color:#4A4A4A;
            & i{
                margin-right: 10px;
                font-size: 30px;
            }
            &-top{
                margin-bottom: 5px;
                cursor: pointer;
                &:hover{
                    color:#000;
                }
                &--active{
                    color:#629B61;
                    &:hover{
                        color:#629B61;
                    }
                }
            }
            &-desc{
                display:none;
                flex-direction: column;
                margin-left: 20px;
                overflow: hidden;
                // transition:max-height 0.1s linear;
                &--active{
                    
                }
                &-item{
                    display: block;
                    margin-bottom: 5px;
                    color:#000;
                    &:hover{
                        color:#629B61;
                    }
                }
            }
        }
    }
}
.screen9-main-list-item{
        &::-webkit-scrollbar-button {
            background-image:url('');
            background-repeat:no-repeat;
            width:2px;
            height:0px;
        }
        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background-color:#569FF4;
        }
        &::-webkit-scrollbar-thumb:hover{
            background-color:#436EAB;
        }
        &::-webkit-resizer{
            background-image:url('');
            background-repeat:no-repeat;
            width:30px;
            height:7px;
        }
        &::-webkit-scrollbar{
            width: 7px;
            height: 10px;
        }
}