.screen.screen4
    .container
        .screen__title Расположение
        .screen3-main
            .screen3-main-item(style="background:url('assets/images/screen4-map.jpg') center center no-repeat;")
                .screen3-main-item-map
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A71a8e9f2e7b966f0b557085052e6092f6111b0acf7ad225acd4d4f358c240460&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
                .screen3-main-item-desc
                    img(src="assets/images/elka-bg.svg", alt="").screen3-main-item-desc-bg
                    .screen3-main-item-desc__index
                        i.fa.fa-map-marker(aria-hidden="true")
                    .screen3-main-item-desc__title ЖК «ЕЛКИ ВИЛЛАДЖ» <br> МЕТРО ПАРНАС
                    .screen3-main-item-desc__text ЖК «Елки Вилладж» (Скотное) — квартал, расположенный неподалеку от Санкт-Петербурга. В деревне Скотное жилой комплекс размещен не случайно: в пригороде Ленинграда, изобилующем лесопарковыми зонами, удалось воссоздать инфраструктуру, по уровню комфорта сравнимую с городской. Рядом с ЖК «Елки Вилладж» (Yolkki Village) — м. «Парнас».
                    //- a.screen3-main-item-desc__but Показать карту подъезда к ЖК