.screen.screen5
    .container
        .screen__title Инфраструктура
        .screen5-main#tabs
            .screen5-top
                .screen5-top-list.tabs-nav
                    a.screen5-top-list__item.screen5-top-list__item--active(href="#tab1") Инфраструктура жилого комплекса
                    a.screen5-top-list__item(href="#tab2") Инфраструктура района
            .screen5-main-list.tabs-content
                .screen5-main-list-item(id='tab1')
                    .screen5-main-list-item-container
                        include ../common/infra-map
                .screen5-main-list-item(id='tab2') 
                    div#screen5-infra-map

                
