.screen.screen8
    .container
        .screen__title Контакты
        .screen3-main
            .screen3-main-item
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A656e3ea5a2516e3f9cdcf7df3effdbf1f3edae97a872215df6cdebd2a6168085&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
                .screen3-main-item-desc
                    .screen3-main-item-desc__index
                        i.fa.fa-map-marker(aria-hidden="true")
                    .screen3-main-item-desc__title Отдел продаж <br>ЖК «Yolkki Village»
                    .screen3-main-item-desc__text 191015, Санкт-Петербург, <br> ул. Парадная, д. 4, 1-й этаж.<br>Ближайшая станция метро «Чернышевская» - 10 минут пешком.
                    .screen8-main-item-desc-block
                        .screen8-main-item-desc-block__title Телефоны
                        .screen8-main-item-desc-block__text +7 (812) 385-69-98
                        .screen8-main-item-desc-block__text +7 (812) 456-06-50 <span>(вопросы по покупке)</span>
                    .screen8-main-item-desc-block
                        .screen8-main-item-desc-block__title Почта
                        .screen8-main-item-desc-block__text +7 (812) 385-69-98
                    a.screen6-main-item-right-top__sos(href="#")
                                i.fa.fa-vk
                                span Посетить группу