.screen.screen8
    .container
        .screen__title Расположение
        .screen3-main
            .screen3-main-item(style="background:url('assets/images/screen4-map.jpg') center center no-repeat;")
                .screen3-main-item-desc
                    .screen3-main-item-desc__index
                        i.fa.fa-map-marker(aria-hidden="true")
                    .screen3-main-item-desc__title Отдел продаж <br>ЖК «Yolkki Village»
                    .screen3-main-item-desc__text 191015, Санкт-Петербург, <br> ул. Парадная, д. 4, 1-й этаж.<br>Ближайшая станция метро «Чернышевская» - 10 минут пешком.
                    .screen8-main-item-desc-block
                        .screen8-main-item-desc-block__title Телефоны
                        .screen8-main-item-desc-block__text +7 (812) 385-69-98
                        .screen8-main-item-desc-block__text +7 (812) 456-06-50 <span>(вопросы по покупке)</span>
                    .screen8-main-item-desc-block
                        .screen8-main-item-desc-block__title Почта
                        .screen8-main-item-desc-block__text +7 (812) 385-69-98
                    a.screen6-main-item-right-top__sos(href="#")
                                i.fa.fa-vk
                                span Посетить группу