.screen.screen11
    .container
        .screen__title Проект в цифрах
        .screen11-main
            .screen11-main-item.screen11-main-item--item1
                .screen11-main-item-top
                    img(src="assets/images/icons/time.svg", alt="").screen11-main-item-top__img
                    .screen11-main-item-top__text 7 минут
                .screen11-main-item__text от КАД и МЕГА Парнас
            .screen11-main-item.screen11-main-item--item2
                .screen11-main-item-top
                    img(src="assets/images/icons/car.svg", alt="").screen11-main-item-top__img
                    .screen11-main-item-top__text 10 минут
                .screen11-main-item__text до метро Парнас по новой современной трассе Новоприозерскому шоссе.
            .screen11-main-item.screen11-main-item--item3
                .screen11-main-item-top
                    img(src="assets/images/icons/family.svg", alt="").screen11-main-item-top__img
                    .screen11-main-item-top__text 101 000 м<sup>2<sup>
                .screen11-main-item__text общая площадь жилого фонда
            .screen11-main-item.screen11-main-item--item4
                .screen11-main-item-top
                    img(src="assets/images/icons/trees.svg", alt="").screen11-main-item-top__img
                    .screen11-main-item-top__text 15,4 Га
                .screen11-main-item__text общая площадь живописного участка земли, который займет жилой комплекс <b>Yolkki Village</b>. Участок отгорожен со всех сторон от автомобильных дорог полосой леса.
            .screen11-main-item
                .screen11-main-item-top
                    img(src="assets/images/icons/market.svg", alt="").screen11-main-item-top__img
                    .screen11-main-item-top__text 1 925 м<sup>2<sup>
                .screen11-main-item__text площадь во встроенных коммерческих помещений, предусмотренных для создания удобной инфраструктуры
            .screen11-main-item.screen11-main-item--item6
                .screen11-main-item-top
                    img(src="assets/images/icons/flat.svg", alt="").screen11-main-item-top__img
                    .screen11-main-item-top__text 2 432
                .screen11-main-item__text квартиры современные и уютные
            .screen11-main-item.screen11-main-item--item6
                .screen11-main-item-top
                    img(src="assets/images/icons/hands.svg", alt="").screen11-main-item-top__img
                    .screen11-main-item-top__text 214 ФЗ
                .screen11-main-item__text сделка застрахована
            .screen11-main-item.screen11-main-item--item6
                .screen11-main-item-top
                    img(src="assets/images/icons/building.svg", alt="").screen11-main-item-top__img
                    .screen11-main-item-top__text 14
                .screen11-main-item__text корпусов
            .screen11-main-item
                .screen11-main-item-top
                    img(src="assets/images/icons/plan.svg", alt="").screen11-main-item-top__img
                    .screen11-main-item-top__text 4
                .screen11-main-item__text очереди реализации проекта