.screen.screen1
    .container
        //- .screen1__title Современный <br> жилой комплекс
        //- a.screen1__button(href="#popup-callback",data-fancybox, data-src="#popup-callback")
        //-     span Подробнее о проекте