.screen.screen10
    .container
        .screen__title О застройщике
        .screen10-main
            .screen10-main-left
                img(src="assets/images/elka-bg.svg", alt="").screen3-main-item-desc-bg.screen10-main-left-bg
                .screen10-main-left-index
                    img(src="assets/images/sofa.svg", alt="").screen10-main-left-index__img
                .screen10-main-left__title ЖК «ЕЛКИ ВИЛЛАДЖ» <br> МЕТРО ПАРНАС
                .screen10-main-left__text ООО «Гранд-Строй», застройщик ЖК «Yolkki Village» (Елки Вилладж), предлагает купить квартиру с отделкой в СПб по оптимальной стоимости. Купить квартиру с отделкой — идеальное решение для тех, кто хочет сразу заселиться в приобретенное жилье, не проводя перепланировку и ремонт. Купить квартиру в новостройке СПб с отделкой — выбор в пользу комфорта без лишних трат сил и времени!    
            .screen10-main-right
                a(href="assets/images/screen101.jpg", data-fancybox="gallary1", data-caption="My caption").screen10-main-right__img
                    img(src="assets/images/screen101.jpg", alt="")
                    .screen10-main-right__img--plus
                        i.fa.fa-search-plus
                a(href="assets/images/screen102.jpg", data-fancybox="gallary1", data-caption="My caption").screen10-main-right__img
                    img(src="assets/images/screen102.jpg", alt="")
                    .screen10-main-right__img--plus
                        i.fa.fa-search-plus
                a(href="assets/images/screen103.jpg", data-fancybox="gallary1", data-caption="My caption").screen10-main-right__img
                    img(src="assets/images/screen103.jpg", alt="")
                    .screen10-main-right__img--plus
                        i.fa.fa-search-plus
                a(href="assets/images/screen104.jpg", data-fancybox="gallary1", data-caption="My caption").screen10-main-right__img
                    img(src="assets/images/screen104.jpg", alt="")
                    .screen10-main-right__img--plus
                        i.fa.fa-search-plus
