.screen.screen3
    .container
        .screen__title Преимущества
        .screen3-main
            .screen3-main-item(style="background:url('assets/images/screen3-bg.jpg') center center no-repeat;")
                .screen3-main-item-desc
                    .screen3-main-item-desc__index 1
                    .screen3-main-item-desc__title Заголовок преимущества
                    .screen3-main-item-desc__text The modern world is in a continuous movement and people everywhere are looking for quick, safe means of accessing accurate information. Prompt information is vital for people who want to keep the pace with a constantly evolving society, and many people are turning to the Internet for help in their quest for knowledge.
                    .screen3-main-item-desc-arrows
                        a.screen3-main-item-desc-arrows-arr.screen3-main-item-desc-arrows__left <
                        a.screen3-main-item-desc-arrows-arr.screen3-main-item-desc-arrows__right >