-var screen6Items = ['Евгений Черданцев', 'Валерка Селиванов', 'Михаил Глыбин']
.screen.screen6
    .container
        .screen__title Отзывы
        .screen6-main.screen6-main--slider
            each item in screen6Items
                .screen6-item
                    .screen6-main-item
                        .screen6-main-item-left(style="background:url('assets/images/screen6-ava.jpg')top center no-repeat;")
                        .screen6-main-item-right
                            .screen6-main-item-right__index
                                i.fa.fa-comment
                            .screen6-main-item-right-top
                                .screen6-main-item-right-top__title= item
                                a.screen6-main-item-right-top__sos(href="#")
                                    i.fa.fa-vk
                                .screen6-main-item-right-top-arrows
                                    a.screen3-main-item-desc-arrows-arr.screen6-main-item-desc-arrows__left(href="#") <
                                    a.screen3-main-item-desc-arrows-arr.screen6-main-item-desc-arrows__right(href="#") >
                            .screen6-main-item-right__text ЖК «Елки Вилладж» (Скотное) — квартал, расположенный неподалеку от Санкт-Петербурга. В деревне Скотное жилой комплекс размещен не случайно: в пригороде Ленинграда, изобилующем лесопарковыми зонами, удалось воссоздать инфраструктуру, по уровню комфорта сравнимую с городской. 
                            .screen6-main-item-right__video
            

