.screen.screen13
    .container
        .screen__title Как купить?
        .screen13-main
            .screen13-main-top
                .screen13-main-item
                    .screen13-main-item-top
                        img(src="assets/images/icons/screen131.svg", alt="").screen13-main-item-top__img
                        .screen13-main-item-top__text УСЛОВИЯ ПРЕДОСТАВЛЕНИЯ <br> РАССРОЧКИ
                    .screen13-main-item__text 
                        p Рассрочка предоставляется до окончания строительства (1 квартал 2017г.) 
                        p Минимальный первоначальный взнос – 10%
                .screen13-main-item
                    .screen13-main-item-top
                        img(src="assets/images/icons/screen132.svg", alt="").screen13-main-item-top__img
                        .screen13-main-item-top__text СУБСИДИИ <br> И ВОЕННАЯ ИПОТЕКА
                    .screen13-main-item__text 
                        p Ипотечная программа от лидера ипотечного кредитования в России:
                            ul 
                                li - Минимальная ставка;
                                li - Минимальный первоначальный взнос 20% от стоимости квартиры.
                .screen13-main-item
                    .screen13-main-item-top
                        img(src="assets/images/icons/screen133.svg", alt="").screen13-main-item-top__img
                        .screen13-main-item-top__text ИПОТЕКА
                    .screen13-main-item__text 
                        p Ипотечная программа от лидера ипотечного кредитования в России:
                            ul 
                                li - Минимальная ставка;
                                li - Минимальный первоначальный взнос 0% от стоимости квартиры.
                .screen13-main-item
                    .screen13-main-item-top
                        img(src="assets/images/icons/screen134.svg", alt="").screen13-main-item-top__img
                        .screen13-main-item-top__text ЕДИНОВРЕМЕННАЯ <b>100%</b> ОПЛАТА
                    .screen13-main-item__text 
                        p Продажа с использованием ипотечного кредита приравнивается к продаже с единовременной оплатой
            .screen13-main-footer
                .screen13-main-footer-left
                    .screen13-main-footer-left__title Хотите купить квартиру через ипотеку?
                    .screen13-main-footer-left__text Мы упростили весь процесс получения ипотеки, вы получите одобрение в 9 случаях из 10.
                .screen13-main-footer-right
                    a.screen13-main-footer-right__link(href="#popup3",data-fancybox, data-src="#popup3") Рассчитайте ежемесячный платёж