.screen.screen4
    .container
        .screen__title Расположение
        .screen3-main
            .screen3-main-item(style="background:url('assets/images/screen4-map.jpg') center center no-repeat;")
                .screen3-main-item-desc
                    .screen3-main-item-desc__index
                        i.fa.fa-map-marker(aria-hidden="true")
                    .screen3-main-item-desc__title ЖК «ЕЛКИ ВИЛЛАДЖ» <br> МЕТРО ПАРНАС
                    .screen3-main-item-desc__text ЖК «Елки Вилладж» (Скотное) — квартал, расположенный неподалеку от Санкт-Петербурга. В деревне Скотное жилой комплекс размещен не случайно: в пригороде Ленинграда, изобилующем лесопарковыми зонами, удалось воссоздать инфраструктуру, по уровню комфорта сравнимую с городской. Рядом с ЖК «Елки Вилладж» (Yolkki Village) — м. «Парнас».
                    a.screen3-main-item-desc__but Показать карту подъезда к ЖК