.screen16.screen
    .container
        .screen__title Документация
        .screen16-main
            .screen16-main-block
                - for (var i = 0; i < 4; i++){
                    .screen16-main-item
                        .screen16-main-item-top
                            i.fa.fa-file-text-o
                            span.screen16-main-item-top__text Lorem, ipsum dolor.
                        .screen16-main-item-desc
                            - for (var j = 0; j <  5; j++){
                                a(href="#", target="_blank").screen16-main-item-desc-item
                                    i.fa.fa-file-text-o
                                    span.screen16-main-item-desc-item__text Lorem ipsum dolor sit amet.
                            -}
                -}
            .screen16-main-block
                - for (var i = 0; i < 4; i++){
                    .screen16-main-item
                        .screen16-main-item-top
                            i.fa.fa-file-text-o
                            span.screen16-main-item-top__text Lorem, ipsum dolor.
                        .screen16-main-item-desc
                            - for (var j = 0; j <  5; j++){
                                a(href="#", target="_blank").screen16-main-item-desc-item
                                    i.fa.fa-file-text-o
                                    span.screen16-main-item-desc-item__text Lorem ipsum dolor sit amet.
                            -}
                -}
            