.screen.screen5
    .container
        .screen__title Инфраструктура
        .screen5-main
            .screen5-top
                .screen5-top-list
                    a.screen5-top-list__item.screen5-top-list__item--active(href="#") Инфраструктура жилого комплекса
                    a.screen5-top-list__item(href="#") Инфраструктура района
            .screen5-main-list
                .screen5-main-list-item

                
