.screen.screen5
    .container
        .screen__title Выбрать квартиру
        .screen5-main#tabs1
            .screen5-top
                .screen5-top-list.tabs-nav
                    a.screen5-top-list__item.screen5-top-list__item--active(href="#flattab1") Все
                    a.screen5-top-list__item(href="#flattab2") Студии
                    a.screen5-top-list__item(href="#flattab3") Однокомнатные
                    a.screen5-top-list__item(href="#flattab4") Двухкомнатные
                    a.screen5-top-list__item(href="#flattab5") Трёхкомнатные
            .screen9-main-list.tabs-content
                .screen9-main-list-item(id='flattab1')
                    - for (var i = 0; i<20; i++){
                        case i
                            when 0
                                .screen9-main-list-item-flat.screen9-main-list-item-flat--sale(href="#popup-flat",data-fancybox, data-src="#popup-flat")
                                    img(src="assets/images/flat-item1.svg", alt="").screen9-main-list-item-flat__img
                                    .screen9-main-list-item-flat-desc
                                        .screen9-main-list-item-flat-desc-block
                                            .screen9-main-list-item-flat-desc-block__title 22,43 м<sup>2</sup>
                                            .screen9-main-list-item-flat-desc-block__text Общая площадь
                                        .screen9-main-list-item-flat-desc-block
                                            .screen9-main-list-item-flat-desc-block__title 13,66 м<sup>2</sup>
                                            .screen9-main-list-item-flat-desc-block__text Жилая площадь    
                                    .screen9-main-list-item-flat__price 1 500 000 &#8381;
                            when 3
                                .screen9-main-list-item-flat.screen9-main-list-item-flat--hit
                                    img(src="assets/images/flat-item1.svg", alt="").screen9-main-list-item-flat__img
                                    .screen9-main-list-item-flat-desc
                                        .screen9-main-list-item-flat-desc-block
                                            .screen9-main-list-item-flat-desc-block__title 22,43 м<sup>2</sup>
                                            .screen9-main-list-item-flat-desc-block__text Общая площадь
                                        .screen9-main-list-item-flat-desc-block
                                            .screen9-main-list-item-flat-desc-block__title 13,66 м<sup>2</sup>
                                            .screen9-main-list-item-flat-desc-block__text Жилая площадь    
                                    .screen9-main-list-item-flat__price 1 500 000 &#8381;
                            default
                                .screen9-main-list-item-flat
                                    img(src="assets/images/flat-item1.svg", alt="").screen9-main-list-item-flat__img
                                    .screen9-main-list-item-flat-desc
                                        .screen9-main-list-item-flat-desc-block
                                            .screen9-main-list-item-flat-desc-block__title 22,43 м<sup>2</sup>
                                            .screen9-main-list-item-flat-desc-block__text Общая площадь
                                        .screen9-main-list-item-flat-desc-block
                                            .screen9-main-list-item-flat-desc-block__title 13,66 м<sup>2</sup>
                                            .screen9-main-list-item-flat-desc-block__text Жилая площадь    
                                    .screen9-main-list-item-flat__price 1 500 000 &#8381;
                    -}
                .screen9-main-list-item(id='flattab2')
                    - for (var i = 0; i<7; i++){
                                .screen9-main-list-item-flat.screen9-main-list-item-flat--hit
                                    img(src="assets/images/flat-item1.svg", alt="").screen9-main-list-item-flat__img
                                    .screen9-main-list-item-flat-desc
                                        .screen9-main-list-item-flat-desc-block
                                            .screen9-main-list-item-flat-desc-block__title 22,43 м<sup>2</sup>
                                            .screen9-main-list-item-flat-desc-block__text Общая площадь
                                        .screen9-main-list-item-flat-desc-block
                                            .screen9-main-list-item-flat-desc-block__title 13,66 м<sup>2</sup>
                                            .screen9-main-list-item-flat-desc-block__text Жилая площадь    
                                    .screen9-main-list-item-flat__price 1 500 000 &#8381;
                    -}
                .screen9-main-list-item(id='flattab3')
                    - for (var i = 0; i<7; i++){
                                .screen9-main-list-item-flat.screen9-main-list-item-flat--sale
                                    img(src="assets/images/flat-item1.svg", alt="").screen9-main-list-item-flat__img
                                    .screen9-main-list-item-flat-desc
                                        .screen9-main-list-item-flat-desc-block
                                            .screen9-main-list-item-flat-desc-block__title 22,43 м<sup>2</sup>
                                            .screen9-main-list-item-flat-desc-block__text Общая площадь
                                        .screen9-main-list-item-flat-desc-block
                                            .screen9-main-list-item-flat-desc-block__title 13,66 м<sup>2</sup>
                                            .screen9-main-list-item-flat-desc-block__text Жилая площадь    
                                    .screen9-main-list-item-flat__price 1 500 000 &#8381;
                    -}
                .screen9-main-list-item(id='flattab4')
                    - for (var i = 0; i<7; i++){
                                .screen9-main-list-item-flat.screen9-main-list-item-flat
                                    img(src="assets/images/flat-item1.svg", alt="").screen9-main-list-item-flat__img
                                    .screen9-main-list-item-flat-desc
                                        .screen9-main-list-item-flat-desc-block
                                            .screen9-main-list-item-flat-desc-block__title 22,43 м<sup>2</sup>
                                            .screen9-main-list-item-flat-desc-block__text Общая площадь
                                        .screen9-main-list-item-flat-desc-block
                                            .screen9-main-list-item-flat-desc-block__title 13,66 м<sup>2</sup>
                                            .screen9-main-list-item-flat-desc-block__text Жилая площадь    
                                    .screen9-main-list-item-flat__price 1 500 000 &#8381;
                    -}
                .screen9-main-list-item(id='flattab5')
                    - for (var i = 0; i<7; i++){
                                .screen9-main-list-item-flat.screen9-main-list-item-flat--hit
                                    img(src="assets/images/flat-item1.svg", alt="").screen9-main-list-item-flat__img
                                    .screen9-main-list-item-flat-desc
                                        .screen9-main-list-item-flat-desc-block
                                            .screen9-main-list-item-flat-desc-block__title 22,43 м<sup>2</sup>
                                            .screen9-main-list-item-flat-desc-block__text Общая площадь
                                        .screen9-main-list-item-flat-desc-block
                                            .screen9-main-list-item-flat-desc-block__title 13,66 м<sup>2</sup>
                                            .screen9-main-list-item-flat-desc-block__text Жилая площадь    
                                    .screen9-main-list-item-flat__price 1 500 000 &#8381;
                    -}

            
                